# Editor junk
.*
!.gitignore
*.f
*.swp
*~

# Xilinx and LaTeX Junk
*.asy
*.aux
*.auxlock
*.bak
*.bgn
*.bbl
*.bit
*.blc
*.bld
*.blg
*.cdc
*.cfi
*.cgc
*.cgp
*.cmd
*.cmd_log
*.cpj
!vio.cpj
*.csv
*.drc
*.exe
*.gise
*.html
*.ini
*.ipf
*.log
*.lso
*.map
*.mcs
*.mrp
*.ncd
*.ncf
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.pdf
*.prj
*.prm
*.ptwx
*.stx
*.sym
*.syr
*.tcl
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.veo
*.wcfg
*.wdb
*.xml
*.xmsgs
*.xpi
*.xrpt
*.xsl
*.xst
*.xwbt

# ignore ISE project and internal files
*.xise
**/isim/
**/iseconfig/
**/_ngo/
**/xst/
**/xlnx_auto_*_xdb/

# Don't care about ISE-generated Verilog, UCF and XDC for IP cores
**/ipcore_dir/*.v
**/ipcore_dir/*.ucf
**/ipcore_dir/*.xdc

# Don't care about ISE-generated example projects and
# other junk generated for IP cores
**/ipcore_dir/*/

# ignore Vivado project and internal files
*.xpr
**/*.cache/
**/*.hw/
**/*.ip_user_files/
**/*.runs/
**/*.sim/

**/bd/*.bxml
**/bd/*.xdc
**/bd/hdl/
**/bd/hw_handoff/
**/bd/ip/
**/bd/ipshared/
**/bd/sim/
**/bd/synth/
