# Editor junk
.*
*.swp
*~

# Xilinx Junk
*.asy
*.bgn
*.bit
*.blc
*.bld
*.cdc
*.cgc
*.cgp
*.cmd
*.cmd_log
*.csv
*.drc
*.exe
*.gise
*.html
*.ini
*.log
*.lso
*.map
*.mrp
*.ncd
*.ncf
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.sym
*.syr
*.tcl
*.twr
*.twx
*.txt
*.ucf
*.unroutes
*.ut
*.veo
*.wdb
*.xdc
*.xise
*.xml
*.xmsgs
*.xpi
*.xrpt
*.xst
*.xwbt
**/isim/
**/iseconfig/
**/_ngo/
**/xst/
**/xlnx_auto_*_xdb/

# Don't care about the generated verliog for IP cores
**/ipcore_dir/*.v

# Don't care about generated example projects and other junk generated for IP
# cores.
**/ipcore_dir/*/

