################################################################################
# Clock Constraints for "user clocks"
################################################################################
NET "clk_150_i"  TNM_NET = "clk_150_i";
NET "clk_37_5_i" TNM_NET = "clk_37_5_i";
TIMESPEC "TS_clk_150_i"  = PERIOD "clk_150_i"   6.666; # 150 MHz
TIMESPEC "TS_clk_37_5_i" = PERIOD "clk_37_5_i" 26.666; # 37.5 MHz


################################################################################
# External clock source pins
################################################################################
NET REFCLK_PAD_P_IN LOC=C11;
NET REFCLK_PAD_N_IN LOC=D11;

# External clock is 150 MHz
NET "gtpclkout_i" TNM_NET = "gtpclkout_i";
TIMESPEC "TS_gtpclkout_i" = PERIOD "gtpclkout_i" 6.666 HIGH 50% INPUT_JITTER 66.66ps;


################################################################################
# LED Pins
################################################################################
NET "LEDS_OUT[2]" LOC = "W22" | IOSTANDARD = LVTTL | SLEW = SLOW ;
NET "LEDS_OUT[3]" LOC = "W20" | IOSTANDARD = LVTTL | SLEW = SLOW ;
NET "LEDS_OUT[4]" LOC = "Y22" | IOSTANDARD = LVTTL | SLEW = SLOW ;
NET "LEDS_OUT[5]" LOC = "Y21" | IOSTANDARD = LVTTL | SLEW = SLOW ;

NET "SEVEN_SEG_OUT[0]"  LOC = "N22"  | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[1]"  LOC = "T22"  | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[2]"  LOC = "V19"  | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[3]"  LOC = "P16"  | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[4]"  LOC = "U20"  | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[5]"  LOC = "U19"  | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[6]"  LOC = "V21"  | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[7]"  LOC = "AB19" | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[8]"  LOC = "N20"  | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[9]"  LOC = "P19"  | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[10]" LOC = "R19"  | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[11]" LOC = "R20"  | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[12]" LOC = "T20"  | IOSTANDARD = LVTTL;
NET "SEVEN_SEG_OUT[13]" LOC = "V20"  | IOSTANDARD = LVTTL;


########################################################################
# Buttons
########################################################################
NET "NBUTTON_IN[1]" LOC = "W4" | IOSTANDARD = LVCMOS15  | PULLUP;
NET "NBUTTON_IN[0]" LOC = "R7" | IOSTANDARD = LVCMOS15  | PULLUP;


################################################################################
# GTP Tile Positions
################################################################################
INST gtpa1_dual_i LOC=GTPA1_DUAL_X0Y0;

