################################################################################
# Clock Constraints for "user clocks"
################################################################################
NET "clk_300_i"  TNM_NET = "clk_300_i";
NET "clk_150_i"  TNM_NET = "clk_150_i";
NET "clk_75_i"   TNM_NET = "clk_75_i";
NET "clk_37_5_i" TNM_NET = "clk_37_5_i";
TIMESPEC "TS_clk_300_i"  = PERIOD "clk_300_i"   3.333; # 300 MHz
TIMESPEC "TS_clk_150_i"  = PERIOD "clk_150_i"   6.666; # 150 MHz
TIMESPEC "TS_clk_75_i"   = PERIOD "clk_75_i"   13.333; # 75 MHz
TIMESPEC "TS_clk_37_5_i" = PERIOD "clk_37_5_i" 26.666; # 37.5 MHz


################################################################################
# External clock source pins
################################################################################
NET REFCLK_PAD_P_IN LOC=A10;
NET REFCLK_PAD_N_IN LOC=B10;

# External clock is 150 MHz
NET "gtpclkout_i" TNM_NET = "gtpclkout_i";
TIMESPEC "TS_gtpclkout_i" = PERIOD "gtpclkout_i" 6.666 HIGH 50% INPUT_JITTER 66.66ps;


################################################################################
# External RESET pin
################################################################################
NET N_RESET_IN LOC=C3  | IOSTANDARD = LVCMOS18;


################################################################################
# LED Pins
################################################################################
NET RED_LED_OUT LOC=AA3  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET GRN_LED_OUT LOC=AB20 | IOSTANDARD = LVCMOS18 | DRIVE = 6;


################################################################################
# FPGA Identifier Signal
################################################################################
NET FPGA_ID_IN[0] LOC=A17 | IOSTANDARD = LVCMOS18;
NET FPGA_ID_IN[1] LOC=B18 | IOSTANDARD = LVCMOS18;


################################################################################
# GTP Tile Positions
################################################################################
INST gtp_x0_y0_i/tile0_gtp_x0_y0_i/gtpa1_dual_i LOC=GTPA1_DUAL_X0Y0;
INST gtp_x1_y0_i/tile0_gtp_x1_y0_i/gtpa1_dual_i LOC=GTPA1_DUAL_X1Y0;


################################################################################
# SpiNNaker Link Connections
################################################################################
NET SL0_INOUT[0]   LOC=A2   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[1]   LOC=A3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[2]   LOC=A4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[3]   LOC=A5   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[4]   LOC=B1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[5]   LOC=B2   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[6]   LOC=B3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[7]   LOC=C1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[8]   LOC=D1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[9]   LOC=D2   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[10]  LOC=D3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[11]  LOC=D4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[12]  LOC=E1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[13]  LOC=E3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[14]  LOC=E4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL0_INOUT[15]  LOC=F1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[0]   LOC=F2   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[1]   LOC=F3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[2]   LOC=F5   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[3]   LOC=G1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[4]   LOC=G3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[5]   LOC=G4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[6]   LOC=G6   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[7]   LOC=G7   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[8]   LOC=H1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[9]   LOC=H2   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[10]  LOC=H3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[11]  LOC=H4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[12]  LOC=H5   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[13]  LOC=H6   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[14]  LOC=H8   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL1_INOUT[15]  LOC=J1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[0]   LOC=J3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[1]   LOC=J4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[2]   LOC=J6   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[3]   LOC=J7   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[4]   LOC=K1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[5]   LOC=K2   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[6]   LOC=K3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[7]   LOC=K4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[8]   LOC=K5   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[9]   LOC=K6   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[10]  LOC=K7   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[11]  LOC=K8   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[12]  LOC=L1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[13]  LOC=L3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[14]  LOC=L4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL2_INOUT[15]  LOC=L6   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[0]   LOC=M1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[1]   LOC=M2   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[2]   LOC=M3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[3]   LOC=M4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[4]   LOC=M5   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[5]   LOC=M6   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[6]   LOC=M7   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[7]   LOC=M8   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[8]   LOC=N1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[9]   LOC=N3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[10]  LOC=N4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[11]  LOC=N6   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[12]  LOC=N7   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[13]  LOC=P1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[14]  LOC=P2   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL3_INOUT[15]  LOC=P3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[0]   LOC=P4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[1]   LOC=P5   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[2]   LOC=P6   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[3]   LOC=P7   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[4]   LOC=P8   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[5]   LOC=R1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[6]   LOC=R3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[7]   LOC=R4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[8]   LOC=R7   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[9]   LOC=R8   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[10]  LOC=T1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[11]  LOC=T2   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[12]  LOC=T3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[13]  LOC=T4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[14]  LOC=T5   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL4_INOUT[15]  LOC=T6   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[0]   LOC=T7   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[1]   LOC=U1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[2]   LOC=U3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[3]   LOC=U4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[4]   LOC=U6   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[5]   LOC=V1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[6]   LOC=V2   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[7]   LOC=V3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[8]   LOC=V5   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[9]   LOC=V7   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[10]  LOC=W1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[11]  LOC=W3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[12]  LOC=W4   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[13]  LOC=W6   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[14]  LOC=Y1   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL5_INOUT[15]  LOC=Y2   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[0]   LOC=T8   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[1]   LOC=U8   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[2]   LOC=W8   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[3]   LOC=Y3   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[4]   LOC=Y5   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[5]   LOC=Y6   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[6]   LOC=Y7   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[7]   LOC=Y8   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[8]   LOC=AA1  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[9]   LOC=AA2  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[10]  LOC=AA4  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[11]  LOC=AA6  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[12]  LOC=AB4  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[13]  LOC=AB5  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[14]  LOC=AB6  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL6_INOUT[15]  LOC=AB7  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[0]   LOC=R9   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[1]   LOC=R11  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[2]   LOC=T10  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[3]   LOC=T11  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[4]   LOC=U9   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[5]   LOC=U10  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[6]   LOC=V9   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[7]   LOC=W9   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[8]   LOC=W10  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[9]   LOC=Y9   | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[10]  LOC=Y10  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[11]  LOC=AA8  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[12]  LOC=AA10 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[13]  LOC=AB8  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[14]  LOC=AB9  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL7_INOUT[15]  LOC=AB10 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[0]   LOC=R13  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[1]   LOC=T12  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[2]   LOC=U12  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[3]   LOC=U13  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[4]   LOC=V11  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[5]   LOC=V13  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[6]   LOC=W11  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[7]   LOC=W12  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[8]   LOC=W13  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[9]   LOC=Y11  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[10]  LOC=Y12  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[11]  LOC=Y13  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[12]  LOC=AA12 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[13]  LOC=AB11 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[14]  LOC=AB12 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL8_INOUT[15]  LOC=AB13 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[0]   LOC=L15  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[1]   LOC=N15  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[2]   LOC=R15  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[3]   LOC=T14  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[4]   LOC=T15  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[5]   LOC=U14  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[6]   LOC=U15  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[7]   LOC=V15  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[8]   LOC=W14  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[9]   LOC=W15  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[10]  LOC=Y14  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[11]  LOC=Y15  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[12]  LOC=AA14 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[13]  LOC=AB14 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[14]  LOC=AB15 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL9_INOUT[15]  LOC=AB16 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[0]  LOC=M16  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[1]  LOC=N16  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[2]  LOC=P16  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[3]  LOC=P17  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[4]  LOC=R16  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[5]  LOC=R17  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[6]  LOC=T17  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[7]  LOC=U16  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[8]  LOC=V17  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[9]  LOC=W17  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[10] LOC=Y16  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[11] LOC=Y17  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[12] LOC=AA16 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[13] LOC=AA18 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[14] LOC=AB17 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL10_INOUT[15] LOC=AB18 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[0]  LOC=P18  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[1]  LOC=P19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[2]  LOC=R19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[3]  LOC=T18  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[4]  LOC=T19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[5]  LOC=U19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[6]  LOC=V19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[7]  LOC=V21  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[8]  LOC=V22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[9]  LOC=W18  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[10] LOC=W20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[11] LOC=W22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[12] LOC=Y18  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[13] LOC=Y21  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[14] LOC=Y22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL11_INOUT[15] LOC=AB19 | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[0]  LOC=M17  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[1]  LOC=M18  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[2]  LOC=M19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[3]  LOC=N19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[4]  LOC=N20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[5]  LOC=N22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[6]  LOC=P20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[7]  LOC=P21  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[8]  LOC=P22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[9]  LOC=R20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[10] LOC=R22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[11] LOC=T20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[12] LOC=T21  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[13] LOC=T22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[14] LOC=U20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL12_INOUT[15] LOC=U22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[0]  LOC=J16  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[1]  LOC=J17  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[2]  LOC=K16  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[3]  LOC=K17  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[4]  LOC=K18  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[5]  LOC=K19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[6]  LOC=K20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[7]  LOC=K21  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[8]  LOC=K22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[9]  LOC=L17  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[10] LOC=L19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[11] LOC=L20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[12] LOC=L22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[13] LOC=M20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[14] LOC=M21  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL13_INOUT[15] LOC=M22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[0]  LOC=F18  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[1]  LOC=F19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[2]  LOC=F20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[3]  LOC=G19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[4]  LOC=G20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[5]  LOC=G22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[6]  LOC=H16  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[7]  LOC=H17  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[8]  LOC=H18  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[9]  LOC=H19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[10] LOC=H20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[11] LOC=H21  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[12] LOC=H22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[13] LOC=J19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[14] LOC=J20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL14_INOUT[15] LOC=J22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[0]  LOC=A20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[1]  LOC=B20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[2]  LOC=B21  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[3]  LOC=B22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[4]  LOC=C18  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[5]  LOC=C19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[6]  LOC=C20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[7]  LOC=C22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[8]  LOC=D18  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[9]  LOC=D19  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[10] LOC=D21  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[11] LOC=D22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[12] LOC=E20  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[13] LOC=E22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[14] LOC=F21  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET SL15_INOUT[15] LOC=F22  | IOSTANDARD = LVCMOS18 | DRIVE = 6;

