################################################################################
# Clock Constraints for "user clocks"
################################################################################
NET "clk_300_i"  TNM_NET = "clk_300_i";
NET "clk_150_i"  TNM_NET = "clk_150_i";
NET "clk_75_i"   TNM_NET = "clk_75_i";
NET "clk_37_5_i" TNM_NET = "clk_37_5_i";
TIMESPEC "TS_clk_300_i"  = PERIOD "clk_300_i"   3.333; # 300 MHz
TIMESPEC "TS_clk_150_i"  = PERIOD "clk_150_i"   6.666; # 150 MHz
TIMESPEC "TS_clk_75_i"   = PERIOD "clk_75_i"   13.333; # 75 MHz
TIMESPEC "TS_clk_37_5_i" = PERIOD "clk_37_5_i" 26.666; # 37.5 MHz


################################################################################
# External clock source pins
################################################################################
NET REFCLK_PAD_P_IN LOC=A10;
NET REFCLK_PAD_N_IN LOC=B10;

# External clock is 150 MHz
NET "gtpclkout_i" TNM_NET = "gtpclkout_i";
TIMESPEC "TS_gtpclkout_i" = PERIOD "gtpclkout_i" 6.666 HIGH 50% INPUT_JITTER 66.66ps;


################################################################################
# LED Pins
################################################################################
NET RED_LED_OUT LOC=AA3  | IOSTANDARD = LVCMOS18 | DRIVE = 6;
NET GRN_LED_OUT LOC=AB20 | IOSTANDARD = LVCMOS18 | DRIVE = 6;


################################################################################
# GTP Tile Positions
################################################################################
INST gtp_x0_y0_i/tile0_gtp_x0_y0_i/gtpa1_dual_i LOC=GTPA1_DUAL_X0Y0;
INST gtp_x1_y0_i/tile0_gtp_x1_y0_i/gtpa1_dual_i LOC=GTPA1_DUAL_X1Y0;


################################################################################
# SpiNNaker Link Connections
################################################################################
NET  SL_INOUT[0]    LOC=A2    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[1]    LOC=A3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[2]    LOC=A4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[3]    LOC=A5    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[4]    LOC=B1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[5]    LOC=B2    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[6]    LOC=B3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[7]    LOC=C1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[8]    LOC=D1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[9]    LOC=D2    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[10]   LOC=D3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[11]   LOC=D4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[12]   LOC=E1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[13]   LOC=E3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[14]   LOC=E4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[15]   LOC=F1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[16]   LOC=F2    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[17]   LOC=F3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[18]   LOC=F5    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[19]   LOC=G1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[20]   LOC=G3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[21]   LOC=G4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[22]   LOC=G6    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[23]   LOC=G7    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[24]   LOC=H1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[25]   LOC=H2    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[26]   LOC=H3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[27]   LOC=H4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[28]   LOC=H5    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[29]   LOC=H6    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[30]   LOC=H8    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[31]   LOC=J1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[32]   LOC=J3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[33]   LOC=J4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[34]   LOC=J6    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[35]   LOC=J7    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[36]   LOC=K1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[37]   LOC=K2    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[38]   LOC=K3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[39]   LOC=K4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[40]   LOC=K5    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[41]   LOC=K6    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[42]   LOC=K7    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[43]   LOC=K8    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[44]   LOC=L1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[45]   LOC=L3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[46]   LOC=L4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[47]   LOC=L6    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[48]   LOC=M1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[49]   LOC=M2    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[50]   LOC=M3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[51]   LOC=M4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[52]   LOC=M5    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[53]   LOC=M6    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[54]   LOC=M7    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[55]   LOC=M8    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[56]   LOC=N1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[57]   LOC=N3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[58]   LOC=N4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[59]   LOC=N6    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[60]   LOC=N7    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[61]   LOC=P1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[62]   LOC=P2    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[63]   LOC=P3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[64]   LOC=P4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[65]   LOC=P5    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[66]   LOC=P6    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[67]   LOC=P7    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[68]   LOC=P8    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[69]   LOC=R1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[70]   LOC=R3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[71]   LOC=R4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[72]   LOC=R7    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[73]   LOC=R8    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[74]   LOC=T1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[75]   LOC=T2    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[76]   LOC=T3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[77]   LOC=T4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[78]   LOC=T5    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[79]   LOC=T6    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[80]   LOC=T7    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[81]   LOC=U1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[82]   LOC=U3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[83]   LOC=U4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[84]   LOC=U6    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[85]   LOC=V1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[86]   LOC=V2    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[87]   LOC=V3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[88]   LOC=V5    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[89]   LOC=V7    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[90]   LOC=W1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[91]   LOC=W3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[92]   LOC=W4    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[93]   LOC=W6    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[94]   LOC=Y1    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[95]   LOC=Y2    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[96]   LOC=T8    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[97]   LOC=U8    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[98]   LOC=W8    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[99]   LOC=Y3    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[100]  LOC=Y5    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[101]  LOC=Y6    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[102]  LOC=Y7    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[103]  LOC=Y8    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[104]  LOC=AA1   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[105]  LOC=AA2   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[106]  LOC=AA4   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[107]  LOC=AA6   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[108]  LOC=AB4   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[109]  LOC=AB5   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[110]  LOC=AB6   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[111]  LOC=AB7   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[112]  LOC=R9    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[113]  LOC=R11   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[114]  LOC=T10   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[115]  LOC=T11   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[116]  LOC=U9    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[117]  LOC=U10   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[118]  LOC=V9    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[119]  LOC=W9    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[120]  LOC=W10   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[121]  LOC=Y9    |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[122]  LOC=Y10   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[123]  LOC=AA8   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[124]  LOC=AA10  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[125]  LOC=AB8   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[126]  LOC=AB9   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[127]  LOC=AB10  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[128]  LOC=R13   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[129]  LOC=T12   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[130]  LOC=U12   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[131]  LOC=U13   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[132]  LOC=V11   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[133]  LOC=V13   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[134]  LOC=W11   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[135]  LOC=W12   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[136]  LOC=W13   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[137]  LOC=Y11   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[138]  LOC=Y12   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[139]  LOC=Y13   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[140]  LOC=AA12  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[141]  LOC=AB11  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[142]  LOC=AB12  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[143]  LOC=AB13  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[144]  LOC=L15   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[145]  LOC=N15   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[146]  LOC=R15   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[147]  LOC=T14   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[148]  LOC=T15   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[149]  LOC=U14   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[150]  LOC=U15   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[151]  LOC=V15   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[152]  LOC=W14   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[153]  LOC=W15   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[154]  LOC=Y14   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[155]  LOC=Y15   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[156]  LOC=AA14  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[157]  LOC=AB14  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[158]  LOC=AB15  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[159]  LOC=AB16  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[160]  LOC=M16   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[161]  LOC=N16   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[162]  LOC=P16   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[163]  LOC=P17   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[164]  LOC=R16   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[165]  LOC=R17   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[166]  LOC=T17   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[167]  LOC=U16   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[168]  LOC=V17   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[169]  LOC=W17   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[170]  LOC=Y16   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[171]  LOC=Y17   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[172]  LOC=AA16  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[173]  LOC=AA18  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[174]  LOC=AB17  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[175]  LOC=AB18  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[176]  LOC=P18   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[177]  LOC=P19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[178]  LOC=R19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[179]  LOC=T18   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[180]  LOC=T19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[181]  LOC=U19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[182]  LOC=V19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[183]  LOC=V21   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[184]  LOC=V22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[185]  LOC=W18   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[186]  LOC=W20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[187]  LOC=W22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[188]  LOC=Y18   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[189]  LOC=Y21   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[190]  LOC=Y22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[191]  LOC=AB19  |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[192]  LOC=M17   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[193]  LOC=M18   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[194]  LOC=M19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[195]  LOC=N19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[196]  LOC=N20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[197]  LOC=N22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[198]  LOC=P20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[199]  LOC=P21   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[200]  LOC=P22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[201]  LOC=R20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[202]  LOC=R22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[203]  LOC=T20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[204]  LOC=T21   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[205]  LOC=T22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[206]  LOC=U20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[207]  LOC=U22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[208]  LOC=J16   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[209]  LOC=J17   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[210]  LOC=K16   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[211]  LOC=K17   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[212]  LOC=K18   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[213]  LOC=K19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[214]  LOC=K20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[215]  LOC=K21   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[216]  LOC=K22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[217]  LOC=L17   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[218]  LOC=L19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[219]  LOC=L20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[220]  LOC=L22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[221]  LOC=M20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[222]  LOC=M21   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[223]  LOC=M22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[224]  LOC=F18   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[225]  LOC=F19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[226]  LOC=F20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[227]  LOC=G19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[228]  LOC=G20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[229]  LOC=G22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[230]  LOC=H16   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[231]  LOC=H17   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[232]  LOC=H18   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[233]  LOC=H19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[234]  LOC=H20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[235]  LOC=H21   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[236]  LOC=H22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[237]  LOC=J19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[238]  LOC=J20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[239]  LOC=J22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[240]  LOC=A20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[241]  LOC=B20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[242]  LOC=B21   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[243]  LOC=B22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[244]  LOC=C18   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[245]  LOC=C19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[246]  LOC=C20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[247]  LOC=C22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[248]  LOC=D18   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[249]  LOC=D19   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[250]  LOC=D21   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[251]  LOC=D22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[252]  LOC=E20   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[253]  LOC=E22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[254]  LOC=F21   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;
NET  SL_INOUT[255]  LOC=F22   |  IOSTANDARD  =  LVCMOS18  |  DRIVE  =  6;

